{% extends '_base_modal.html.twig' %}

{# Configure modal appearance and behavior #}
{% set entity_type = 'user' %}
{% set icon = 'person-circle' %}
{% set form_action = (is_edit and user.id) ? path('user_edit', {id: user.id}) : path('user_new') %}
{% set title_create = 'user.new.user'|trans({}, 'user') %}
{% set title_edit = 'user.modal.edit.title'|trans({}, 'user') %}
{% set subtitle_create = 'user.modal.create.subtitle'|trans({}, 'user') %}
{% set subtitle_edit = 'user.modal.edit.subtitle'|trans({}, 'user') %}
{% set submit_key = is_edit ? 'button.update.user' : 'button.create.user' %}
{% set submit_domain = 'user' %}
{% set entity = user %}

{# Form fields #}
{% block modal_body %}
    <div class="form-group-modern">
        <label class="form-label-modern">{{ form_label(form.name) }}</label>
        {{ form_widget(form.name, {
            'attr': {
                'class': 'form-input-modern' ~ (form.name.vars.errors|length > 0 ? ' input-error' : ''),
                'placeholder': 'user.form.name.placeholder'|trans({}, 'user'),
                'autofocus': 'autofocus'
            }
        }) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group-modern">
        <label class="form-label-modern">{{ form_label(form.email) }}</label>
        {{ form_widget(form.email, {
            'attr': {
                'class': 'form-input-modern' ~ (form.email.vars.errors|length > 0 ? ' input-error' : ''),
                'placeholder': 'user.form.email.placeholder'|trans({}, 'user')
            }
        }) }}
        {{ form_errors(form.email) }}
    </div>

    {% if form.organization is defined %}
    <div class="form-group-modern">
        <label class="form-label-modern">{{ form_label(form.organization) }}</label>
        {{ form_widget(form.organization, {
            'attr': {
                'class': 'form-input-modern form-select-modern' ~ (form.organization.vars.errors|length > 0 ? ' input-error' : '')
            }
        }) }}
        {{ form_errors(form.organization) }}
    </div>
    {% endif %}

    {% if form.roleEntities is defined %}
    <div class="form-group-modern">
        <label class="form-label-modern">{{ form_label(form.roleEntities) }}</label>
        {{ form_widget(form.roleEntities, {
            'attr': {
                'class': 'form-input-modern form-select-modern' ~ (form.roleEntities.vars.errors|length > 0 ? ' input-error' : '')
            }
        }) }}
        {{ form_errors(form.roleEntities) }}
    </div>
    {% endif %}

    {% if form.isVerified is defined %}
    <div class="form-group-modern">
        <div class="form-check">
            {{ form_widget(form.isVerified, {
                'attr': {
                    'class': 'form-check-input'
                }
            }) }}
            <label class="form-check-label">
                {{ form_label(form.isVerified) }}
            </label>
        </div>
        {{ form_errors(form.isVerified) }}
    </div>
    {% endif %}

    {% if form.plainPassword is defined %}
    <div class="form-group-modern">
        <label class="form-label-modern">{{ form_label(form.plainPassword.first) }}</label>
        {{ form_widget(form.plainPassword.first, {
            'attr': {
                'class': 'form-input-modern' ~ (form.plainPassword.first.vars.errors|length > 0 ? ' input-error' : ''),
                'placeholder': 'user.form.password.placeholder'|trans({}, 'user')
            }
        }) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>

    <div class="form-group-modern">
        <label class="form-label-modern">{{ form_label(form.plainPassword.second) }}</label>
        {{ form_widget(form.plainPassword.second, {
            'attr': {
                'class': 'form-input-modern' ~ (form.plainPassword.second.vars.errors|length > 0 ? ' input-error' : ''),
                'placeholder': 'user.form.password.confirm.placeholder'|trans({}, 'user')
            }
        }) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>
    {% endif %}

    {{ form_widget(form._token) }}
{% endblock %}
