{#
/**
 * Print Button Template
 *
 * Renders a print button
 *
 * @param array config - Button configuration from ButtonConfig
 * @param string|null translation_key - Translation key
 * @param string translation_domain - Translation domain (default: 'messages')
 * @param string|null tooltip - Tooltip text
 * @param string|null label - Button label (null = icon-only)
 * @param string size - Size class
 * @param string|null icon - Icon override
 */
#}
{% set buttonText = translation_key ?? config.default_translation_key %}
{% set buttonIcon = icon ?? config.default_icon %}
{% set sizeClass = size ? 'btn-' ~ size : '' %}

<button type="button"
        class="{{ config.class }} {{ sizeClass }}"
        onclick="window.print();"
        {% if tooltip %}
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ tooltip }}"
        {% endif %}>
    <i class="{{ buttonIcon }}{% if label is not null %} me-2{% endif %}"></i>
    {% if label is not null %}
        {{ buttonText|trans({}, translation_domain) }}
    {% endif %}
</button>
